server:
  port: 8080

spring:
  application:
    name: demo-backend
  config:
    activate:
      on-profile: prod
    
  datasource:
    url: jdbc:postgresql://localhost:5432/demo_backend
    username: markohp
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false

logging:
  level:
    org:
      springframework:
        security: ${SPRING_SECURITY_LOG_LEVEL:ERROR}
